@model Sistema_Puntuacion_Chambo.Models.DatosBD.tbl_users_jueces

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Juez  @Html.DisplayFor(model => model.id)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombres_completos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres_completos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Atras", "Index")
</p>
