@model Sistema_Puntuacion_Chambo.Models.DatosBD.tbl_candidatas

@{
    ViewBag.Title = "Participantes";
}

<h2>Editar Datos</h2>

@using (Html.BeginForm("Edit", "tbl_candidatas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Participantes</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    @*Form Nombres*@
    <div class="form-group" >
        @Html.LabelFor(model => model.nombres, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Form Apellidos*@
    <div class="form-group" >
        @Html.LabelFor(model => model.apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Form Imagen*@
    <div class="form-group" >
        @Html.LabelFor(model => model.imagen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <img style="border-radius:5px;border:2px solid #e4e0e0; margin-left:45px;margin-bottom:15px"
                 src="data:image/jpg;base64,@System.Convert.ToBase64String(Model.imagen)" height="180" width="145" />
            <input type="file" name="imagenCandidata" class="btn btn-default small btn-block" required />

            @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Form Lugar de Representacion*@
    <div class="form-group" >
        @Html.LabelFor(model => model.respresentacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.respresentacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.respresentacion, "", new { @class = "text-danger" })
        </div>
    </div>
    @*Boton Guardar Datos*@
    <div class="form-group" >
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar Datos" class="btn btn-success btn-sm btn-lg btn-block" />

        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Atras", "Index")
</div>
